body {
  background-color: white;
}

.reviewHeader {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
}

.logo {
    margin: 10px 10px;
}

.navBar {
  list-style-type: none;
  margin: 10px 10px;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }

.navLinks {
  padding: 10px 10px; 
  color: black;
}

.navLinks:hover {
  box-shadow: inset 0 -1px 0 0 black;
}

a.navLinksA:link {
  color: black;
}
a.navLinksA:visited {
  color: black;
}
a.navLinksA:hover {
  color: black;
  text-decoration: none;
}
a.navLinksA:active {
  color: black;
}


.reviewsBody {
  align-content: center;
  background-color: grey;
}

.reviewCardContainer{
  max-width: 1400px;
  align-content: center;
}

.card {
  margin: 10px 10px;
  width: 400px; 
}

.card img {
  height: 500px;
  object-fit: cover;

}

.dropdown {
  justify-self: left;
}

.reviews {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}
.pageTitle {
  color: black;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.form-group.col-8 {
  color:red;
  background-color: royalblue;
}

#largeOrderLink {
  
}
