

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

/*BUTTON STYLING : SD*/
[type~="button"] {
  font-family: 'Roboto Slab', serif;
  background-color: #606066;
}

/*SALE ALERT MODAL STYLING : SD*/
#exampleModalCenter {
  font-family: 'Roboto Slab', serif;
}

.modal-body {
  text-align: center;
  background-color: #F7F9FC;
}

.modal-body-header {
font-weight: bold;
}

.modal-footer {
  justify-content: center;
}

.homePageBottomSection {
  font-family: 'Roboto Slab', serif;
  margin-top: 100px;

}

.reviewHeader {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
}

.logo {
    margin: 10px 10px;
}

.navBar {
  list-style-type: none;
  margin: 10px 10px;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Roboto Slab', serif;
  }

.navLinks {
  padding: 10px 10px; 
  
}

.navLinks:hover {
  box-shadow: inset 0 -1px 0 0 black;
}

a.navLinksA:link {
  color: black;
}
a.navLinksA:visited {
  color: black;
}
a.navLinksA:hover {
  color: black;
  text-decoration: none;
}
a.navLinksA:active {
  color: black;
}




.reviewsBody {
  align-content: center;
  background-color: #F7F9FC;
}

.reviewCardContainer{
  max-width: 1400px;
  align-content: center;
}

.card {
  margin: 10px 10px;
  width: 400px; 
}

.card img {
  height: 500px;
  object-fit: cover;

}

.dropdown {
  justify-self: left;
}

.reviews {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}
.pageTitle {
  color: black;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.totalDisplayed {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  height: 50px;
  width: 150px;
}

.container{
  text-align: center;
}

#inventoryDropdown {
  display: flex;
  margin: 30px;
  padding: 20px;
}

.dropdown {
  margin: 30px;
}

.btn-secondary {
  margin: 20px;
}

.jumbotron {
  font-family: 'Roboto Slab', serif;
  background-color: #F7F9FC;
}

#aboutNATEh1 {
  font-family: 'Roboto Slab', serif;
}

#inventory {
  display: flex;
  flex-flow: wrap;
  background-color: grey;
  width: 80%;
  margin: 50px;
}
.pantsCollection {
  width: 400px;
  margin: 40px;
  padding: 20px;
  text-align: center;
  background-color: white;
}



.inventory {
  margin: 30px;
  text-align: center;
}

footer {
  display: flex !important;
  flex-flow: row wrap;
  align-items: center;
  align-content: space-between;
  margin-bottom: -500px;
}

ul.footerDThing {
  list-style-type: none;
  display: inline-flex;
  padding: 0;
  margin: 10px;
}

.footerLinks {
  padding: 10px 10px;
  margin: 10px;
}

a.footerLinksA:link {
  color: black;
}
a.footerLinksA:visited {
  color: black;
}
a.footerLinksA:hover {
  color: black;
  text-decoration: none;
}
a.footerLinksA:active {
  color: black;
}

.address {
  padding-left: 20px;
  margin: 10px;
}

.footerdiv {
  padding-left: 10px;
}

footer img {
  height: 40px;
  width: 40px;
  margin: 10px;
}
/* =====================================Nikhil================================== */

img.carousel{
  width: 300px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    
}


/* Centered text for the carousel image */
.centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carouselContainer{
  position: relative;
  text-align: center;
  color: black;
  font-size: 2rem;
  text-shadow: 2px 2px rgb(17, 206, 42);

}

.saleContainer{
  position: relative;
  text-align: center;
  color: white;
  font-size: 6rem;
  margin-right: 0px !important;

}

img.aboutImg {
  
    height: 400px;
    border-radius: 15px;
    object-fit: cover;
    
}
.imageCenter{
  text-align: center;
}

.saleDetails{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.red{
  color: red;
}

.entireSection{
  color: black;
  font-weight: bolder;
  text-shadow: 1px 1px red;
}

.sale{
  color: red;
  font-size: 4rem;
  font-weight: bolder;
  text-shadow: none;
}
.big{
  color: black;
  font-size: 4rem;
  font-weight: bolder;
  text-shadow: none;
}
.shopNow, .original{
  border: 3px solid white;
  background-color: black;
  color: red;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
}

.homePageBottomSection {
  background-color: #F7F9FC;
  height: 150px;
  margin-top: 100px;
  margin-bottom: auto;
  text-align: center;
  padding-top: 30px;

}
.original{ 
  text-decoration: line-through; 
}
.site{
  font-size: larger;
}
.saleText p{
  text-align: center;  
  font-size: large;
  margin-left: auto; 
  margin-right: auto;
}


img.saleImg{
  height: 400px;
  border-radius: 5px;
  object-fit: cover;

}

/*FIXES DEFAULT MARGIN BUG | THANKS NIKHIL : SD*/

.row {
  margin-right: 0px;
}
/* =====================================Nikhil End================================== */
